# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems will be explained in depth.

<b>Objectives: </b>

* List popular languages
* List popular libraries
* List popular tools
* Highlight arthmetic expressions

Some of the popular languages that are used by Data Scientists:

1. Python
2. SQL
3. R
4. Java
5. MATLAB

Some of the popular libraries that are used by Data Scientists:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

| Data Science Tools |
| --- |
| R Studio |
| Apache Spark |
| Jupyter Notebooks |

In [6]:
%%html
<style>
table {float:left}
</style>

### Here are a few examples of using arithmetic expressions in Python:

In [7]:
1 + 1

2

In [8]:
2 - 1

1

In [9]:
2 * 2

4

In [10]:
4 / 2

2.0

In [14]:
# This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60

In [15]:
200 / 60

3.3333333333333335

## Author

Cadre Carrigan